@import "../fonts/font-awesome-4.6.3/css/font-awesome.css";

 * {
    margin: 0;
    padding: 0;
}


body {
    background:url("../img/bg.jpg") 0 0  no-repeat transparent;
    /*background-size: auto 100% ;*/
    font-family: Lato;
}

h1, h2, h3 {
    color: #fffcf4;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;

}

.clear {
    height: 0 !important;
    clear: both !important;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 0 !important;
}

.rel {
    position: relative;
}
.fll{
    float: left;
}
.flr{
    float: right;
}

a {
    color: #ffffff;
    outline: none;
}

a:hover {
    text-decoration: none !important;
    outline: none;

}
.keepWeight{
    /*margin-left: 70px;*/
}
.losespead .field-name{
    margin-bottom: 20px;
}
.losespead .row{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*form styles*/
#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: rgba(255, 255, 255, 0.90);
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 30px 30px 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    /*stacking fieldsets above each other*/
    position: relative;
}

form .form-group{
    border-bottom: 1px solid #ccc;
    min-height: 40px;
    margin-bottom: 20px;
}

.field-name{
    color: #9A9A9A;
    font-size: 13px;
    display: block;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

.activity{
    margin-top: 20px;
}
.activity label{
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px!important;
    color: #5A5A5A;
    padding-left: 0;
}
.activity label img{
    margin-right: 10px;
}
.activity label span{
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin-top: 0px;
}
.activity label p{
    width: 80%;
}
.activity .row{
    margin-bottom: 5px;
    margin-left:0!important;
    margin-right:0!important;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.activity .row:hover{
    background-color: rgba(255,255,255, 0.4);
    border-radius: 5px;
}

.teasDecs{
    display: block;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 0 5px;
    border: none;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    color: #656565;
    background-color: transparent;
    font-size: 14px;
}
#msform .action-button{
    border-radius:3px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:400;
    font-family: Lato;
}
#msform .action-button.previous{
    border: 1px solid #979797;
    background-color: transparent;
    color:#979797;
}
#msform .action-button.next,
#msform .action-button.submit
{
    background-color: #C96565;
    color:#fff;
}

#msform .action-button.previous:hover{
    opacity: 0.7;
}
#msform input:focus{
    border-bottom: 1px solid #ccc;
}
#msform input.input-day{
    width: 35px;
    float: left;
    margin-right: 5px;

}
#msform input.input-month{
    width: 35px;
    float: left;
    margin-right: 5px;
}
#msform input.input-year{
    width: 60px;
    float: left;
}

#msform input.input-size{
    width: 35px;
    float: left;
}

#msform input.radio-input{
    padding: 0;
    margin: 0;
    float: left;
    width: 20px;
    /*margin-right: 5px;*/
    margin-top: 5px;

}
#msform input.radio-input:checked+label{
    color: #656565;
}

#radiolow{
    background: url("../img/low.png")no-repeat 0 0 transparent!important;
}
.activity input.radio-input{
    visibility: hidden;
    position: absolute;
}

label.radio, label.checkbox{
    margin-top: 0px;
    margin-left: 5px;
    text-align: left;
    font-weight: normal;
    color: #ACACAC;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #CF6465;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
/*#msform .action-button:hover, #msform .action-button:focus {*/
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;*/
/*}*/
/*headings*/
.fs-title {
    color: #fff;
    font-size: 19px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 24.9%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #CF6465;
    color: white;
}
.social-login a{
    color: #8F8F8F;
}
.social-login a:hover{
    color: #CF6465;
    opacity: 0.8;
}
.social-login a:hover i.fa{
    color: #CF6465;
    opacity: 0.8;
}

.social-login i.fa{
    text-align: center;
    display: block;
    color: #8F8F8F;
}

.countedKcak {
    display: block;
    color: #CF6465;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    line-height: 16px;

}
.social-login .field-name{
    text-align: center;
    margin: 20px 0;
}
.password,
.email {
    text-align: right;
}



ul li{
    display: block;
    position: relative;
}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul li label.radio{
    display: block;
    position: relative;
    padding-left: 35px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    opacity: 0.7
}

ul li .check{
    background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    display: block;
    height: 25px;
    left: 20px;
    position: absolute;
    top: -3px;
    transition: border 0.25s linear 0s;
    width: 25px;
    z-index: 5;
    border: 5px solid #FFFFFF;

}

.losespead ul li .check{
    left: 0px;
}

ul li:hover .check {
    border: 5px solid #FFFFFF;
}

ul li .check::before {
    border-radius: 100%;
    content: "";
    display: block;
    height: 11px;
    left: 2px;
    margin: auto;
    position: absolute;
    top: 2px;
    transition: background 0.25s linear 0s;
    width: 11px;
}

input[type=radio]:checked ~ .check {
    border: 5px solid #CF6465;
}

input[type=radio]:checked ~ .check::before{
    background: #CF6465;
}

input[type=radio]:checked ~ label{
    color: #CF6465;
}

.keepWeight{
    float: left;
    margin-bottom: 14px;
    margin-top: 20px;
}
.keepWeight input{
    position: absolute;
    visibility: hidden;
}
.keepWeight label{
    display: block;
    position: relative;
    padding-left: 25px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.keepWeight .check{
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 20px;
    left: 83px;
    position: absolute;
    top: 0px;
    transition: border 0.25s linear 0s;
    width: 20px;
    z-index: 5;
    border: 3px solid #FFFFFF;

}

.keepWeight .check {
    border: 3px solid #FFFFFF;
}

.keepWeight .check::before {
    content: "";
    display: block;
    height: 10px;
    left: 2px;
    margin: auto;
    position: absolute;
    top: 2px;
    transition: background 0.25s linear 0s;
    width: 10px;
}

.keepWeight input[type=checkbox]:checked ~ .check {
    border: 3px solid #CF6465;
}

.keepWeight input[type=checkbox]:checked ~ .check::before{
    background: #CF6465;
}

.keepWeight input[type=checkbox]:checked ~ label{
    color: #CF6465;
}
.goal{
    font-size: 20px;
    color: #CF6465;

}
.form-group .row{
    margin-right: 0;
    margin-left: 0;
}
#msform input.input-goal{
    border-bottom: 2px solid #CF6465 ;
    color: #cf6465;
    float: left;
    font-size: 22px;
    text-align: center;
    width: 60px;

}
.input-goal-box{
    margin-top: -3px;
}
.input-goal-box .fll{
    float: left;
    margin-left: 11px;
    margin-top: 9px;
    opacity: 0.6;
}
.preseed .btn.btn-default {
    background-color: #CF6465;
    color: #fff;
}
.preseed {

}