@media \0screen {

}

@media (max-width: 1400px) {
    .header {
        min-height: 800px;
    }

}

@media (max-width: 1200px) {
    .nav_up .btn-local {
        font-size: 12px;
        padding: 0 5px;
    }

    .header {
        min-height: 700px;
    }

    .wrapper.z_scroll .windowMock {
        bottom: -360px;
        height: 788px;
        margin-left: -451px;
        width: 910px;
    }

}

@media (max-width: 979px) {
    img.servicePix{
           display: inline;
       }
    .cd-svg-container,
    svg{
        display: none;
    }

    .pixBox p {
        font-size: 15px;
    }

    .nav_up .menulist li a {
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .logo a {
        min-height: 30px;
        background-size: contain;
    }

    .z_scroll .logo a {
        min-height: 30px;
    }

    .nav_up .menulist {
        margin-top: 15px;
        margin-left: 5px;
        padding: 0;
    }

    .nav_up .btn-local {
        font-size: 12px;
        padding: 0 5px;
        margin-top: 5px;
    }

    .header {
        min-height: 500px;
    }

    .wrapper.z_scroll .windowMock {
        bottom: -500px;
        height: 788px;
        margin-left: -344px;
        width: 700px;
    }

    .emergency img {
        width: 100%;
    }

    .scrollh1 {
        font-size: 35px;
    }

    .wrapper.z_scroll .scrollh1 {
        font-size: 25px;
        bottom: 3%;
    }

    .nav_up {
        height: 100px;
    }

    .z_scroll .nav_up {
        height: 90px;
    }

    .emergency {
        margin-top: 20px;
        position: inherit;
        height: auto;
    }

    .services p {
        font-size: 14px;
    }

    .one, .second, .thirt, .fourth, .fifth, .sixth, .seventh, .eighth {
        position: inherit;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
    }

    .one {
        margin-bottom: 45px;
    }

    .second {
        margin-top: 15px;
    }

    .thirt {
        border-bottom: 2px solid #eeeeee;
        margin-top: 55px;
        padding-bottom: 10px;

    }

    .fourth {
        margin-bottom: 20px;

    }

    .fifth {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .sixth {
        border-top: 2px solid #eeeeee;
        margin-bottom: 45px;
    }

    .seventh {
        margin-top: 30px;

    }

    .eighth {
        margin-bottom: 45px;
    }

    .servicePix {
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
    }

    .servicePix.servicesOne {
        content: url("../img/1servise.png");
    }

    .servicePix.servicesTwo {
        content: url("../img/2servise.png");
    }

    .servicePix.servicesThree {
        content: url("../img/3servise.png");
    }

    .team, .clients {
        padding: 55px 0;
    }

    .team h2, footer h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 55px;
    }

    .team .row {
        margin-bottom: 0px;
    }

}

@media (max-width: 768px) {

    .nav_up .menulist li a {
           font-size: 14px;
           letter-spacing: 1px;
           line-height: 30px;
           text-transform: uppercase;
       }

    .clients ul li {
        margin-right: 10px;
    }

    .clients ul li img {
        height: 40px;
        margin: 15px 0;
    }

    footer p, footer p span {
        font-size: 18px;
    }

    .team div p {
        min-height: inherit;
        margin-bottom: 20px;
    }

    .emergency img {
        left: -41%;
        position: relative;
        text-align: center;
        width: 180%;
    }

    .pixBox h2 {
        font-size: 22px;
    }

    .header {
        min-height: 400px;
    }

    .z_scroll .nav_up {
        height: 40px;
        padding: 0;
    }

    .logo a {
        min-height: 25px;
        background-size: contain;
        margin-top: 2px;
    }

    .z_scroll .logo a {
        min-height: 25px;
        margin-top: 2px;
    }

    .z_scroll .nav_up .menulist {
        margin-top: 64px;
    }

    .nav_up .btn-local:hover {
        background: rgba(0, 0, 0, 0.4);
        color: #808080;
    }

    .nav_up .btn-local,
    .z_scroll .nav_up .btn-local {
        margin: 20px 0 20px 45px;
        width: 70%;
    }

    .scrollh1 {
        font-size: 18px;
    }

    .nav_up {
        height: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .logo a {
        display: none;
    }

    .active .logo a {
        display: block;
    }

    .logo {
        left: 25px;
        position: absolute;
        top: 5px;
    }

    .nav_up .menulist li {
        float: none;
        color: transparent;
    }

    .nav_up .menulist {
        margin-left: 37px;
        margin-top: 64px;
        padding: 0;
    }

    .menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
        -webkit-transition: 250ms all;
        transition: 250ms all;
    }

    .menu-opener {
        cursor: pointer;
        height: 40px;
        padding: 0;
        position: fixed;
        top: 2%;
        left: 1%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 40px;
    }

    .nav_up.menu-opener.active {
        width: -webkit-calc(100% - 1rem);
        width: calc(100% - 1rem);
    }

    .z_scrol .menu-opener {
        position: fixed;
    }

    .menu-opener:hover, .menu-opener.active {
        background: rgba(0, 0, 0, 0.9);
    }

    .menu-opener-inner {
        background: #fff;
        height: .5rem;
        margin-left: .75rem;
        margin-top: 1.75rem;
        width: 2.5rem;
    }

    .menu-opener-inner::before, .menu-opener-inner::after {
        background: white;
        content: '';
        display: block;
        height: .5rem;
        width: 2.5rem;
    }

    .menu-opener-inner::before {
        -webkit-transform: translateY(-0.75rem);
        -ms-transform: translateY(-0.75rem);
        transform: translateY(-0.75rem);
    }

    .menu-opener-inner::after {
        -webkit-transform: translateY(0.25rem);
        -ms-transform: translateY(0.25rem);
        transform: translateY(0.25rem);
    }

    .menu-opener-inner.active {
        background: transparent;
    }

    .menu-opener-inner.active::before {
        -webkit-transform: translateY(0rem) rotate(-45deg);
        -ms-transform: translateY(0rem) rotate(-45deg);
        transform: translateY(0rem) rotate(-45deg);
    }

    .menu-opener-inner.active::after {
        -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
        -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
        transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    }

    .menu {
        background: rgba(0, 0, 0, 0.9);
        color: transparent;
        height: 64px;
        position: absolute;
        top: 2%;
        left: 0%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 0rem;
        z-index: -5;
        opacity: 0;
    }

.menu.active {
  width: -webkit-calc(100%);
  width: calc(100%);
  opacity: 1;

}

    .menu.active .menu-link {
        color: white;
    }

    .menu.active .menu-link:hover {
        color: #666666;
    }

    .menu-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 100%;
        list-style-type: none;
        margin: 0;
        margin-left: 4rem;
        padding: 0;
    }

    .menu-link {
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        font-size: 2rem;
        font-weight: 100;
        height: 100%;
        text-align: center;
        text-decoration: none;
    }

    .menu-link li {
        margin: auto;
    }

}

@media screen and (max-width: 768px) {
    .menu {
        height: auto;
    }

    .menu-inner {
        display: block;
    }

}

@media (max-width: 600px) {
    .header {
        min-height: 400px;
    }

    .emergency {
        margin-top: 20px;
    }
}

@media (max-width: 550px) {
    .header {
        min-height: 305px
    }

    .ferraryPix {
        height: 300px;
        position: absolute;
        text-align: center;
        transition: all 0.52s linear 0s;
        width: auto !important;
        max-width: none;
    }

    .wrapper.z_scroll .windowMock:after {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2
       }
    .wrapper.z_scroll .ferraryPix{
        opacity: 1;
    }
    .wrapper.z_scroll .windowMock{
        background: none;
        bottom: auto;
        height: auto;
        margin-left: inherit;
        width: auto;
        position: inherit;
        overflow: visible;
        left: inherit;

    }
    .wrapper.z_scroll .header{
        background:none;
    }
    .wrapper.z_scroll .scrollh1{
        font-size: 18px;
        bottom: 20%;
    }
}

@media (max-width: 440px) {
    .header {
        min-height: 300px;
    }

    .pixBox p {
        font-size: 13px;
    }

    .ferraryPix {
        right: -15%;
    }

}

@media (max-width: 360px) {
    .ferraryPix {
        right: -25%;
    }
}
