@media \0screen {

}

@media (max-width: 1400px) {
    /*.wrapper.z_scroll .windowMock{*/
    /*bottom: -100px;*/
    /*}*/
    .header {
        min-height: 800px;
    }
}

@media (max-width: 1200px) {
    .nav_up .btn-local {
        font-size: 12px;
        padding: 0 5px;
    }

    .header {
        min-height: 700px;
    }
    .wrapper.z_scroll .windowMock {
           bottom: -360px;
           height: 788px;
           margin-left: -451px;
           width: 910px;
       }

    /*.up_header .header{*/
    /*min-height: 800px;*/
    /*}*/
    /*.wrapper.z_scroll .windowMock{*/
    /*bottom: -100px;*/
    /*}*/
}

@media (max-width: 979px) {
    .nav_up .menulist li a {
        letter-spacing: 2px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .logo a {
        min-height: 35px;
        background-size: contain;
    }
    .z_scroll .logo a{
        min-height: 30px;
    }

    .nav_up .menulist {
        margin-top: 15px;
        margin-left: 5px;
        padding: 0;
    }

    .nav_up .btn-local {
        font-size: 12px;
        padding: 0 5px;
        margin-top: 5px;
    }

    .header {
        min-height: 500px;
    }
    .wrapper.z_scroll .windowMock {
        bottom: -500px;
        height: 788px;
        margin-left: -344px;
        width: 700px;
    }
    .emergency img{
           width: 100%;
     }
    .scrollh1{
        font-size: 35px;
    }
    .wrapper.z_scroll .scrollh1{
        font-size: 25px;
        bottom: 3%;
    }
    .nav_up{
        height: 100px;
    }
    .z_scroll .nav_up{
        height: 90px;
    }


}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 768px) {
    .emergency img {
        left: -41%;
        position: relative;
        text-align: center;
        width: 180%;
    }

    .pixBox h2 {
        font-size: 22px;
    }

    .pixBox p {
        font-size: 13px;
    }

    .header {
        min-height: 400px;
    }

    .wrapper.z_scroll .header{
        /*display: none;*/
    }
    .z_scroll .nav_up{
           height: 64px;
       }
    .z_scroll .logo a{
        min-height: 35px;
        margin-top: 5px;
    }
    .z_scroll .nav_up .menulist{
        margin-top: 64px;
    }
    .nav_up .btn-local:hover{
           background: rgba(0, 0, 0, 0.4);
       }
    .nav_up .btn-local,
    .z_scroll .nav_up .btn-local{
        margin-top: 20px;
    }
    .scrollh1 {
        font-size: 18px;
    }

    .nav_up{
        height: auto;
    }
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

    .logo {
        left: 50px;
        position: absolute;
        top: 10px;
    }
    .nav_up .menulist li{
        float: none;
        color: transparent;
    }
    .nav_up .menulist {
        margin-left: 60px;
        margin-top: 64px;
        padding: 0;
    }


.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: fixed;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*width: 64px;*/
}
.z_scrol .menu-opener{
    position: fixed;
}

.menu-opener:hover, .menu-opener.active {
    background: rgba(0, 0, 0, 0.9);
}

.menu-opener-inner {
  background: #fff;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: rgba(0, 0, 0, 0.9);
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -5;
  opacity: 0;
}
.menu.active {
  width: -webkit-calc(100% );
  width: calc(100%);
  opacity: 1;

}
.menu.active .menu-link {
  color: white;
}
.menu.active .menu-link:hover{
    color: #666666;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    /*padding: 5px 0;*/
    /*font-size: 1.2em;*/
  }
  /*.menu.active {*/
    /*width: -webkit-calc(100% - 0.5rem);*/
    /*width: calc(100% - 0.5rem);*/
  /*}*/
}

}

@media (max-width: 600px) {
    .header {
        min-height: 400px;
    }
    .emergency{
        margin-top: 5px;
    }
}

@media (max-width: 550px) {
    .header {
        min-height: 305px
    }

    .ferraryPix {
        height: 300px;
        position: absolute;
        text-align: center;
        transition: all 0.52s linear 0s;
        width: auto !important;
        max-width: none;
    }
}

@media (max-width: 440px) {
    .header {
        min-height: 300px;
    }

}

@media (max-width: 300px) {
    .ferraryPix {
        margin-left: -50%;
    }
    /*.nav_up .btn-local {*/
        /*margin-top: 110px;*/
    /*}*/

    /*.nav_up{*/
        /*height: 50px;*/
    /*}*/
    /*.nav_up .menu{*/
        /*padding-left: 0px;*/
    /*}*/
    /*.nav_up .menu li{*/
        /*float: none;*/
    /*}*/
}